

:root {
  --clr-black-500: #000;
  --clr-white-500: #fff;


}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3rem;
  margin: 10px;
}

h2 {
  font-size: 2rem;
  margin: 10px;
}

span {
  margin: 5px;
}

.skills-container {
  margin: 10px;
}