

:root {
  --clr-black-500: #000;
  --clr-white-500: #fff;


}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

span {
  margin: 5px;
}



.wrapper {
  margin: 20px 15px;
}

.big-text {
  font-size: ;
}